@charset "utf-8";
@import "theme/bulmaswatch-darkly";

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""),
  //url("/@src/assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
  url("../src/assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

html {
  background-color: rgba(33, 37, 43, 1);
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

body {
  margin: 0;
}


.splitpanes__splitter{
  background: #5e6d6f !important;
  width: 3px !important;
}